/* public/styles/admin/index.css */
.Index .header-wrapper {
    background: var(--background-dark);
    margin-bottom: 20px;
}

.Index .header-wrapper header{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    padding: 10px 0;
}

.Index .header-wrapper header .logo{
    font: 24px/1.5 Limonf3;
}

.Index .header-wrapper header form{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Index .header-wrapper header form input,
.Index .header-wrapper header form select{
    font: var(--body-font);
    padding: 2px 5px;
}

.Index .header-wrapper header .logout{
    text-align: right;
}

.Index .header-wrapper header .logout a{
    color: white;
    font-size: 16px;
}

.Index .main{
    display: grid;
    grid-template-columns: 25% auto;
}

.Index .main .sidebar{
    background: #1267b3;
    margin-right: 10px;
}

.Index .main .sidebar .menu{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding: 20px;
    grid-gap: 15px 10px;
    height: 400px;
}

.Index .main .sidebar .menu img{
    width: 100%;
    float: left;
}

.Index .main .sidebar .menu a{
    font: 18px/1.5 Oswald,Koulen;
}