/*asset/css/post.css*/
.Main .content .ck-editor__editable{
    min-height: 350px;
    color: black;
}

.Main .content .form,
.Main .content form .wrapper{
    margin-top:5px;
    display: grid;
    grid-template-columns: 20% auto 30% 15%;
}

.Main .content form input, 
.Main .content form select,
.Main .content .form input,
.Main .content .form select
{
    font: var(--body-font);
    width: 100%;
    padding: 5px;
}

table {
    margin-top: 0px;
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    background: white;
    color: black;
    text-align: center;
    padding: 5px;
}

.Main .content table, th {
    background: #ddd;
}

.Main .content table .episode:hover{
    cursor: pointer;
    color: red;
}

.Main .item{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 10px;
    align-items: center;
    background: var(--background-light);
}

.Main .item .thumb{
    position: relative;
    padding-top: 56.25%
}

.Main .item .thumb img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Main .item .title-date, .Main .item .title-date a{
    color: black;
}

.Main .item .edit-delete{
    text-align: right;
    padding-right: 10px;
    visibility: hidden;
}

.Main .item .edit-delete img{
    width: 35px;
}

.Main .item:hover .edit-delete{
    visibility: visible;
}