/* public/styles/base.css */
:root{
    --background: #1e88e5;
    --background-dark: rgb(255, 136, 0);
    --background-light: #f7b527;
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --link: #cee2f3;
    --color: white;
    --item-listing: white;
    --item-listing-color: grey;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: .7;
}

.region{
    max-width: 1150px;
    margin: 0 auto;
}
  
body{
    color: var(--color);
    font: var(--body-font);
    background: var(--background);
}